*{
    padding: 0;
    margin: 0;
     list-style-type: none;
}

body{
    position: relative;
    font-family: 'Open Sans';
    overflow-x: hidden;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    background: white;
    border: 2px solid whitesmoke;
}


ul {
    width: 95%;
    margin: auto;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-nav {
    display:flex;
    align-items: center;
    gap: 25px;
    font-size: 15px;
    padding: 0px 100px;
    margin-right: 50px;
}

.tuitt-button{
    background-color:#c2195b;
    color: #fff;
    border:none;
    border-radius:20px;
    min-height:35px;
    min-width: 110px;
   
  }



}
  #logo {
    padding: 0px 70px;
  }

#bg-image {
  background-image: url('https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg');
  background-size: cover;
  background-position: center;
  height: auto;

}

.front-bg {
  background-color: rgba(0,0,0,0.5);
  height: 500px;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 200px;
  text-align: right;
  color: white;
  border: 5px;
}

.title {
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: none;
  width: 50%;
    margin-left:auto;

}

.subtitle {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: lighter;
  text-align: right;
    width: 33%;
    margin-left:auto;
    
}


.apply-button {
    background-color: #c2195b;
  color: white;
  border: none;
  font-size: 15px;
  border-radius: 20px;
  font-weight: bold;
  min-height:43px;
  min-width: 180px;


}

@media screen and (max-width: 1200px) {
  .container {
    padding-top: 70px;
    padding-bottom: 120px;
    text-align: center;
  }

  .title {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

  }

  .subtitle {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

  }

  .apply-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

  }
}


.intro {
    padding-right:400px ;
    padding-left:400px ;
    padding-top: 80px;
}

  
.title-2 {
    padding-bottom: 70px; 
    text-align: center;
    font-family: none;
    font-weight: bolder;
    font-size: 30px;
    
}

.intro-description {
    text-align: left;
    font-weight: normal;
    font-size: 16px;
}

.pre-footer {
  background-color: #f7fbfb;
  padding: 100px;
  text-align: center;
  margin-top: 100px;
}


.prefooter-description {
  font-size: 17px;
  margin-bottom: 20px;
  padding-right:300px ;
    padding-left:300px ;
}

.book-button {
    background-color:#336589;
    color: #fff;
    border:none;
    border-radius:20px;
    height:35px;
    width: 150px;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 80px;
}


footer {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

span {
    margin-right: 10px;
    font-weight: normal;
    font-size: 14px;
}